@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Dosis, sans-serif;
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield !important;
  }
  input {
    outline: none;
  }
}
